a.honkit-plugin-anchor-link--link {
  color: inherit !important;
  display: none;
  margin-left: -40px;
  padding-left: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

a.honkit-plugin-anchor-link--link i {
  margin-left: -30px;
  vertical-align: middle;
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

h1:hover a.honkit-plugin-anchor-link--link, h2:hover a.honkit-plugin-anchor-link--link, h3:hover a.honkit-plugin-anchor-link--link,
h4:hover a.honkit-plugin-anchor-link--link, h5:hover a.honkit-plugin-anchor-link--link, h6:hover a.honkit-plugin-anchor-link--link {
  display: inline-block;
}

.book .book-body .page-wrapper .page-inner section.normal {
  overflow: visible;
}


